name: CI

on: push

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.2.0
      - name: Check
        run: cargo clippy --verbose
      - name: Run tests
        run: cargo test --verbose
